html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.ant-menu-item {
  flex: 1 !important;
  text-align: center;
}

.hero {
  position: relative;
  height: 800px;
  margin: 10px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero--left {
  margin-top: -100px;
  max-width: 50%;
  min-width: 700px;
}

.hero--left > div{
  margin: 30px 0;
}

.hero--title {
  color: #000;
  font-size: 84px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.hero--desc {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero--button {
  display: flex;
  width: 250px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero--cloud1, .hero--cloud2 {
  position: absolute;
}

.hero--cloud1 {
  top: 50px;
  right: 50px;
}

.hero--cloud2 {
  bottom: 0;
  right: 450px;
}

@media(max-width: 900px){
  .hero {
    margin: 10px;
  }

  .hero--cloud1, .hero--cloud2 {
    display: none;
  }
}